altair==5.3.0
azure-ai-formrecognizer==3.3.3
azure-ai-ml==1.15.0
azure-common==1.1.28
azure-core==1.30.1
azure-cosmos==4.6.0
azure-identity==1.16.0
azure-mgmt-core==1.4.0
azure-monitor-opentelemetry-exporter==1.0.0b25
azure-storage-blob==12.19.1
azure-storage-file-datalake==12.14.0
azure-storage-file-share==12.15.0
azureml-ai-monitoring==0.1.0b4
beautifulsoup4==4.12.3
blinker==1.8.1
botbuilder-core==4.15.0
botbuilder-integration-aiohttp==4.15.0
botbuilder-schema==4.15.0
botframework-connector==4.15.0
botframework-streaming==4.15.0
bs4==0.0.2
cryptography==42.0.6
distro==1.9.0
docutils==0.21.2
docx2txt==0.8
faiss-cpu==1.8.0.post1
fastapi==0.110.3
Flask==3.0.3
Jinja2==3.1.4
joblib==1.4.2
langchain==0.1.17
langchain-cli==0.0.21
langchain-community==0.0.36
langchain-core==0.1.52
langchain-experimental==0.0.57
langchain-openai==0.1.6
langchain-prompty==0.0.2
langchain-text-splitters==0.0.1
langgraph==0.0.44
langserve==0.1.1
langsmith==0.1.84
marshmallow==3.21.2
msal==1.28.0
msal-extensions==1.1.0
msrest==0.7.1
nltk==3.8.1
numpy==1.26.4
oauthlib==3.2.2
openai==1.25.2
pandas==2.2.2
pillow==10.3.0
promptflow==1.13.0
promptflow-azure==1.13.0
promptflow-core==1.13.0
promptflow-devkit==1.13.0
promptflow-tools==1.4.0
promptflow-tracing==1.13.0
protobuf==4.25.3
PyJWT==2.8.0
pyodbc==5.1.0
pypdf==4.2.0
python-dotenv==1.0.1
SQLAlchemy==2.0.30
streamlit==1.34.0
tabulate==0.9.0
tiktoken==0.6.0
urllib3==1.26.18
ipython